@media screen and (max-width : 1270px) {
    .speakersContainer{
        grid-template-columns: repeat(3 , 1fr);
    }
    .masterClassListsContainer{
        width: 90%;
    }
}

@media screen and (max-width : 900px) {
    .speakersContainer{
        grid-template-columns: repeat(2 , 1fr);
    }
    .masterContainer{
        grid-template-columns: 1fr;
    }
    .masterContentContainer{
        left: 0;
        top: 0;
    }
}

@media screen and (max-width : 620px) {
    .speakersContainer{
        grid-template-columns: 1fr;
    }
}